# Backend Environment Variables
GOOGLE_CLOUD_PROJECT=your-project-id
FLASK_DEBUG=false
PORT=8080

# Frontend Environment Variables
FIREBASE_API_KEY=your-api-key
FIREBASE_AUTH_DOMAIN=your-project.firebaseapp.com
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_STORAGE_BUCKET=your-project.appspot.com
FIREBASE_MESSAGING_SENDER_ID=123456789
FIREBASE_APP_ID=your-app-id
FIREBASE_MEASUREMENT_ID=your-measurement-id

# Terraform Variables
TF_VAR_project_id=your-project-id
TF_VAR_location=us-west2